<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uktoonsweb login page</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
  <div class="background">
    <div class="login-container">
<h2>Log In to uktoons web</h2>

<form action="/login" method="post">
<div class="textbox">
<input type="text" name="name" placeholder="Enter your name">
<input type="password" name="password" placeholder="Enter your password">
</div>
<input type="submit" class="btn">

</form>
 <div class="background">
        <div class="login-box">
          <a href="/signup" class="signup-link">click to signup</a>
</body>
</html>