<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uk toons audio page</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="cococontainer">
    <div class="container">
        <h1 class="title">uk toons Audio Streaming Website</h1>
        <div class="audio-player">
            <audio controls>
                <source src="Joeboy-ft-Qing-Madi-Adenuga-(TrendyBeatz.com).mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <div class="download">
                <a href="Joeboy-ft-Qing-Madi-Adenuga-(TrendyBeatz.com).mp3" download="Joeboy-ft-Qing-Madi-Adenuga-(TrendyBeatz.com).mp3" class="download-link">Download joeboy-ft-Qing-Madi-Adenuga Audio</a>
            </div>
            <audio controls>
                <source src="Joeboy-Body-and-Soul-(TrendyBeatz.com).mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
        <div class="download">
            <a href="Joeboy-Body-and-Soul-(TrendyBeatz.com).mp3" download="Joeboy-Body-and-Soul-(TrendyBeatz.com).mp3" class="download-link">Download Joeboy-Body-and-Soul Audio</a>
        </div>
    </div>
  
      
    </div>
     <div class="cocontainer">
        <h1 class="title">rapper free beats</h1>
        <div class="audio-player">
            <audio controls>
                <source src="2019-03-06_-_Crazy_Feelin_-_www.fesliyanstudios.com_-_David_Renda.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <div class="download">
                <a href="2020-07-07_-_Slaps_-_David_Fesliyan.mp3" download="2020-07-07_-_Slaps_-_David_Fesliyan.mp3" class="download-link">Download perfect shot Audio</a>
            </div>
            <audio controls>
                <source src="2020-07-07_-_Slaps_-_David_Fesliyan.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
        <div class="download">
            <a href="2020-07-07_-_Slaps_-_David_Fesliyan.mp3" download="2020-07-07_-_Slaps_-_David_Fesliyan.mp3" class="download-link">Download Jrocker mini uktoons Audio</a>
        </div>
    </div>
    <div class="cocontainer">
        <h1 class="title"> free beats </h1>
        <div class="audio-player">
    <audio controls>
        <source src="2021-02-08_-_Built_For_This_-_www.FesliyanStudios.com_David_Renda.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <div class="download">
        <a href="2021-02-08_-_Built_For_This_-_www.FesliyanStudios.com_David_Renda.mp3" download="2021-02-08_-_Built_For_This_-_www.FesliyanStudios.com_David_Renda.mp3" class="download-link">Download uktoons jj  Audio</a>
    </div>
    <audio controls>
        <source src="FASTER-TEMPO-2020-07-07_-_Slaps_-_David_Fesliyan.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</div>
<div class="download">
    <a href="public\FASTER-TEMPO-2020-07-07_-_Slaps_-_David_Fesliyan.mp3" download="public\FASTER-TEMPO-2020-07-07_-_Slaps_-_David_Fesliyan.mp3" class="download-link">Download fast teempo perfect shot Audio</a>
</div>
</div>
<div class="cocontainer">
    <h1 class="title">thanks for downloading <br>from uk toons audio Website</h1>
    </div>
</div>
</body>
</html>
