<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>uktoonsweb signup page</title>
    <link rel="stylesheet" href="signup.css" />
  </head>
  <body>
    <div class="background">
      <div class="signup-box">
        <h2>Sign Up to uktoons web</h2>

        <form action="/signup" method="post">
          <div class="textbox">
            <input type="text" name="name" placeholder="Enter your name" />
            <input
              type="password"
              name="password"
              placeholder="Enter your password"
            />
            <input type="email" name="email" placeholder="Enter your email" />
          </div>
          <input type="submit" class="btn" />
          <a href="/login">click to login</a>
        </form>
      </div>
    </div>

  </body>
</html>